.result {
  position: relative;
  width: 100vw;
  height: 100vh;

  &__container {
    display: flex;
    align-items: center;
    position: relative;
    height: 50%;
    background-image: url("../../assets/Images/Result.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &__paragraph {
    max-width: 563px;
    line-height: 150%;
  }

  &__btn--quiz {
    margin-top: 32px;
    border: 1px solid var(--white);
    color: var(--white);
    min-width: 238px;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
  }
}
