.quiz-game {
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  gap: 14px;
  padding: 0 14px;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.quiz-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 985px;
  width: 100%;
  text-align: center;
  padding-left: 199px;

  @media (max-width: 768px) {
    padding-left: 0;
  }

  &__options {
    display: flex;
    gap: 10px;
    margin-top: 32px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__option {
    text-align: left;
    transition: border 0.2s ease-in-out;
    white-space: nowrap;
    max-width: 330px;
    min-width: 189px;
  }

  .active {
    border: 1px solid var(--primary-400);
  }

  &__buttons {
    display: flex;
    gap: 20px;
    margin-top: 29px;
  }

  &__button {
    display: flex;
    gap: 8px;
  }

  &__question {
    max-width: 583px;
  }
}
